@import "./variables.scss";
@import "./mixins.scss";
.hero-section {
  padding: 7rem 0;
  margin-top: 7rem;

  .hero-container {
    width: 87%;
    margin: 0 auto;
    @include flexItem(row, space-between);

    .hero-text {
      width: 48%;

      p {
        font-size: $heroFontSize;
      }

      .center-item {
        margin: 2.4rem 0;
      }
    }

    .vehicle {
      width: 50%;
      height: 27.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.steps-section {
  padding: 6rem 0;
  .container {
    .row-item {
      @include flexItem(row, space-between);
      align-items: center;

      .phone-ui {
        width: 42%;
      }

      .step-lead {
        width: 45%;
      }

      h1 {
        font-weight: bold;

        font-size: $headingFontSize;
      }

      .row-item {
        margin: 2rem 0;
        @include flexItem(row, flex-start);

        .img {
          width: 10%;
        }

        p {
          width: 80%;
          color: #696662;
          font-size: $subheadingFontSize;
        }
      }
    }
  }
}

.welcome-section {
  padding: 6rem 0;
  .container {
    .row-item {
      @include flexItem(row, space-between);
      align-items: center;

      .phone-ui {
        width: 42%;
      }

      .welcome-lead {
        width: 45%;
      }

      h1 {
        font-weight: bold;

        font-size: $headingFontSize;
      }

      .col-item {
        margin: 2rem 0;
        h2 {
          font-weight: bold;

          font-size: 1.5em;
        }

        p {
          color: #696662;
          font-size: $subheadingFontSize;
        }
      }
    }
  }
}

.what-we-offer {
  padding: 5rem 0;

  h2 {
    font-weight: bold;
    font-size: 35px;
  }

  h3 {
    margin: 1rem 0;
    color: #7d7d7d;
    font-size: $heroFontSize;
  }

  .offer-card {
    background-color: #46a8b3;
    padding: 2rem;
    height: 16rem;
    margin: 1rem 0;
    border-radius: 0.8rem;

    img {
      width: 3rem;
    }

    h4,
    p {
      color: #fffcf9;
      text-align: center;
    }

    h4 {
      margin-top: 0.8rem;
    }

    p {
      font-size: $subheadingFontSize;
    }
  }
}

/* FAQ */

.faq-section {
  padding: 5rem 0;

  .title {
    font-weight: 700;
    color: #000;
    font-size: 35px;
  }

  p {
    font-size: $heroFontSize;
  }

  .faq-card {
    .faq {
      .divider {
        width: 100%;
        height: 1px;
        background-color: #d9dbe9;
        margin: 0.5rem 0;
      }
      input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      // Layout
      .row {
        display: flex;

        .col {
          flex: 1;
        }
      }

      /* Accordion styles */
      .tabs {
        border-radius: 8px;
        overflow: hidden;
      }

      .tab {
        width: 100%;

        overflow: hidden;

        &-label {
          display: flex;
          justify-content: space-between;
          padding: 1em;

          cursor: pointer;

          font-weight: 700;
          font-size: $heroFontSize;

          /* Icon */
          // &:hover {
          //   background: darken($white, 10%);
          // }

          &::after {
            content: "\002B";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
          }
        }

        &-content {
          max-height: 0;
          padding: 0 1em;

          transition: all 0.2s;
          font-size: $subheadingFontSize;
        }

        &-close {
          display: flex;
          justify-content: flex-end;
          padding: 1em;
          font-size: 0.75em;
          background: #46a8b3;
          cursor: pointer;

          &:hover {
            background: darken(#46a8b3, 10%);
          }
        }
      }

      // :checked
      input:checked {
        + .tab-label {
          color: #46a8b3;

          &::after {
            transform: rotate(45deg);
          }
        }

        ~ .tab-content {
          max-height: 100vh;
          padding: 1em;
        }
      }
    }
  }
}

.base-info {
  position: relative;
  .base-color {
    width: 100%;
    height: calc(70% - 150px);
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #f8f8fc;
  }
  .info-card {
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    background-color: $white;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 0 1em 2em;
    .img-cube {
      width: 70%;
      max-width: 200px;
      margin: 2vh auto;
      img {
        width: 100%;
      }
    }
    p {
      min-height: 96px;
      margin-bottom: 0 !important;
    }
  }
}
.pre-footer {
  .footer-card {
    width: 90%;
    max-width: 1200px;
    margin: 6vmax auto 5vmax;
    padding: 3vmax 4vmax 1vmax;
    background-color: #46a8b3;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 65% 5% 30%;
    .text-sect {
      padding-top: 4vh;
      h2 {
        color: $white;
      }
      @include mediaW(768px) {
        padding-top: 8vh;
      }
      @include mediaM(767px) {
        h2 {
          width: 70%;
        }
      }
    }
    button {
      padding: 10px 20px;
      border: none;
    }
    .image {
      div {
        width: 80%;
        margin: auto;
      }
    }
    @include mediaM(950px) {
      display: block;
      width: 100%;
      border-radius: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      .image {
        // display: none;
        margin-top: 10vh;
      }
      button {
        width: 100%;
      }
    }
  }
}

.sub-about {
  min-height: 100vh;
  .imh {
    @include mediaM(550px) {
      width: 96%;
    }
  }
}

.terms {
  padding: 8rem 0;
  width: 87%;

  margin: 0 auto;

  h2 {
    font-weight: bold;
    font-size: 35px;
    margin-top: 3rem;
  }

  p {
    color: #696662;
    font-size: $subheadingFontSize;

    a {
      font-size: $subheadingFontSize;
    }
  }

  h3 {
    margin-top: 4rem;
  }
}

.footer-divider {
  background-color: rgba(240, 242, 243, 0.85);
  height: 1px;
  width: 100%;
  margin-top: 3rem;
}

footer {
  padding: 4rem 0;

  .footer-row {
    @include flexItem(row, space-between);
    width: 88%;
    margin: 0 auto;

    .footer-container {
      width: 30%;

      h5 {
        color: #46a8b3;
        margin-bottom: 1rem;
      }

      a {
        display: block;
        margin: 1rem 0;
        font-size: $subheadingFontSize;
      }

      img {
        width: 1.8rem;
        margin-right: 0.8rem;
      }
    }
  }

  p {
    margin-top: 2rem;
    font-size: $subheadingFontSize;
  }
}

@media screen and (max-width: 992px) {
  .hero-section {
    padding: 7rem 0 3rem 0;
    margin-top: 3rem;

    .hero-container {
      width: 87%;
      margin: 0 auto;

      .hero-text {
        width: 100%;

        h2 {
          text-align: center;
          font-size: $mbHeroFs;
        }

        p {
          text-align: center;
          font-size: 1.1em;
        }

        .center-item {
          margin: 2.2rem auto 0 auto;
        }
      }

      .vehicle {
        width: 100%;

        height: 35rem;

        img {
          margin: 3rem 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .steps-section {
    padding: 6rem 0 2rem 0;

    .container {
      .row-item {
        @include flexItem(column-reverse, space-around);
        align-items: center;
        .phone-ui {
          width: 85%;
          margin-top: 1.5rem;

          img {
            width: 100%;
          }
        }

        .step-lead {
          width: 100%;
        }

        h1 {
          margin-top: 2rem;
          font-size: 1.9em;
          text-align: center;
        }

        .row-item {
          margin: 2rem 0;

          @include flexItem(row, flex-start);

          .img {
            width: 8%;
          }

          p {
            width: 80%;

            font-size: $mbSubHeadingFs;
          }
        }
      }
    }
  }

  .welcome-section {
    padding: 6rem 0;

    .container {
      .row-item {
        @include flexItem(column, space-around);
        align-items: center;
        .phone-ui {
          width: 85%;
          margin-top: 1.5rem;

          img {
            width: 100%;
          }
        }

        .welcome-lead {
          width: 100%;
        }

        h1 {
          margin-top: 2rem;
          font-size: 1.8em;
          text-align: center;
        }

        .col-item {
          margin: 2rem 0;
          h2 {
            text-align: center;
            font-size: 1.7em;
          }

          p {
            text-align: center;
            font-size: $mbSubHeadingFs;
          }
        }
      }
    }
  }

  .what-we-offer {
    padding: 4rem 0;

    h2 {
      font-size: $mbHeadingFs;
    }

    h3 {
      font-size: 1.4em;
    }

    .offer-card {
      height: 16.5rem;

      h4 {
        font-size: $mbHeadingFs;
      }

      p {
        font-size: $mbSubHeadingFs;
      }
    }
  }

  .faq-section {
    padding: 3rem 0;

    .title {
      font-size: 2em;
      font-weight: 800;
      width: 90%;
      margin: 0 auto;
    }

    p {
      font-size: $mbSubHeadingFs;
    }

    .faq-card {
      .faq {
        .tab-label {
          font-size: $mbSubHeadingFs;
        }
        .tab-content {
          font-size: $mbSubHeadingFs;
        }
      }
    }
  }

  .terms {
    padding: 7rem 0;
    width: 95%;
    margin: 0 auto;

    h2 {
      font-size: $mbHeadingFs;
      margin-top: 3rem;
    }

    p {
      font-size: $mbSubHeadingFs;

      a {
        font-size: $mbSubHeadingFs;
      }
    }

    h3 {
      font-size: 1.4em;
      margin-top: 3.5rem;
    }
  }

  footer {
    padding: 4rem 0;

    .footer-row {
      @include flexItem(row, space-between);
      width: 90%;
      margin: 0 auto;

      .footer-container {
        width: 48%;

        margin-bottom: 2rem;
        h5 {
          margin-bottom: 1rem;
        }

        a {
          display: block;
          margin: 1rem 0;
          font-size: $mbSubHeadingFs;
        }

        .clickable {
          font-size: $mbSubHeadingFs;
        }

        img {
          width: 1.8rem;
          margin-right: 0.8rem;
        }
      }
    }

    p {
      margin-top: 2rem;
      font-size: $mbSubHeadingFs;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 7rem 0 3rem 0;
    margin-top: 3rem;

    .hero-container {
      width: 87%;
      margin: 0 auto;

      .center-item {
        margin: 2.2rem auto 0 auto;
      }

      .hero-text {
        width: 100%;

        h2 {
          text-align: center;
          font-size: $mbHeroFs;
        }

        p {
          font-size: 1.1em;
          text-align: center;
          font-size: $mbSubHeadingFs;
        }
      }

      .vehicle {
        width: 100%;
      }

      .vehicle {
        height: 30rem;

        img {
          margin: 3rem 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .steps-section {
    padding: 6rem 0 2rem 0;

    .container {
      .row-item {
        @include flexItem(column-reverse, space-around);
        align-items: center;
        .phone-ui {
          width: 85%;
          margin-top: 1.5rem;

          img {
            width: 100%;
          }
        }

        .step-lead {
          width: 100%;
        }

        h1 {
          margin-top: 2rem;
          font-size: 1.9em;
          text-align: center;
        }

        .row-item {
          margin: 2rem 0;

          @include flexItem(row, flex-start);

          .img {
            width: 11%;
          }

          p {
            width: 80%;

            font-size: $mbSubHeadingFs;
          }
        }
      }
    }
  }

  .welcome-section {
    padding: 6rem 0 2rem 0;

    .container {
      .row-item {
        @include flexItem(column, space-around);
        align-items: center;
        .phone-ui {
          width: 85%;
          margin-top: 1.5rem;

          img {
            width: 100%;
          }
        }

        .welcome-lead {
          width: 100%;
        }

        h1 {
          margin-top: 2rem;

          text-align: center;
        }

        .col-item {
          margin: 2rem 0;
          h2 {
            text-align: center;
            font-size: 1.7em;
          }

          p {
            text-align: center;
            font-size: $mbSubHeadingFs;
          }
        }
      }
    }
  }

  .what-we-offer {
    padding: 4rem 0;

    h2 {
      font-size: $mbHeadingFs;
    }

    h3 {
      font-size: 1.4em;
    }

    .offer-card {
      height: 20rem;

      h4 {
        font-size: $mbHeadingFs;
      }

      p {
        font-size: $mbSubHeadingFs;
      }
    }
  }

  .faq-section {
    padding: 3rem 0;

    .title {
      font-size: 2em;
      font-weight: 800;
      width: 90%;
      margin: 0 auto;
    }

    p {
      font-size: $mbSubHeadingFs;
    }

    .faq-card {
      .faq {
        .tab-label {
          font-size: $mbSubHeadingFs;
        }
        .tab-content {
          font-size: $mbSubHeadingFs;
        }
      }
    }
  }

  .terms {
    padding: 6rem 0;
    width: 95%;
    margin: 0 auto;

    h2 {
      font-size: $mbHeadingFs;
      margin-top: 3rem;
    }

    p {
      font-size: $mbSubHeadingFs;

      a {
        font-size: $mbSubHeadingFs;
      }
    }

    h3 {
      font-size: 1.4em;
      margin-top: 3.5rem;
    }
  }

  footer {
    padding: 4rem 0;

    .footer-row {
      @include flexItem(row, space-between);
      width: 90%;
      margin: 0 auto;

      .footer-container {
        width: 48%;

        margin-bottom: 2rem;
        h5 {
          margin-bottom: 1rem;
        }

        a {
          display: block;
          margin: 1rem 0;
          font-size: $mbSubHeadingFs;
        }

        .clickable {
          font-size: $mbSubHeadingFs;
        }

        img {
          width: 1.8rem;
          margin-right: 0.8rem;
        }
      }
    }

    p {
      margin-top: 2rem;
      font-size: $mbSubHeadingFs;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero-section {
    padding: 7rem 0 3rem 0;
    margin-top: 0rem;

    .hero-container {
      width: 87%;
      margin: 0 auto;

      .hero-text {
        width: 100%;

        h2 {
          text-align: center;
          font-size: $mbHeroFs;
        }

        p {
          font-size: 1.1em;
          text-align: center;
          font-size: $mbSubHeadingFs;
        }
      }

      .vehicle {
        width: 100%;
        height: 21rem;

        img {
          margin-top: 3rem;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .steps-section {
    padding: 3rem 0;

    .container {
      .row-item {
        @include flexItem(column-reverse, space-around);
        align-items: center;
        .phone-ui {
          width: 95%;
          margin-top: 2rem;

          img {
            width: 100%;
          }
        }

        .step-lead {
          width: 100%;
        }

        h1 {
          margin-top: 2rem;
          font-size: 2em;
          text-align: center;
        }

        .row-item {
          margin: 2rem 0;

          @include flexItem(row, flex-start);

          .img {
            width: 15%;
          }

          p {
            width: 80%;

            font-size: $mbSubHeadingFs;
          }
        }
      }
    }
  }

  .welcome-section {
    padding: 3rem 0;

    .container {
      .row-item {
        @include flexItem(column, space-around);
        align-items: center;
        .phone-ui {
          width: 95%;
          margin-top: 2rem;

          img {
            width: 100%;
          }
        }

        .welcome-lead {
          width: 100%;
        }

        h1 {
          margin-top: 2rem;
          font-size: 2em;
          text-align: center;
        }
        .col-item {
          margin: 2rem 0;
          h2 {
            text-align: center;
            font-size: 1.7em;
          }

          p {
            text-align: center;
            font-size: $mbSubHeadingFs;
          }
        }
      }
    }
  }

  .what-we-offer {
    padding: 4rem 0 6rem 0;

    h2 {
      font-size: $mbHeadingFs;
    }

    h3 {
      font-size: 1.4em;
    }

    .offer-card {
      height: 16rem;

      h4 {
        font-size: $mbHeadingFs;
      }

      p {
        font-size: $mbSubHeadingFs;
      }
    }
  }

  .faq-section {
    padding: 3rem 0;

    .title {
      font-size: 2em;
      font-weight: 800;
      width: 90%;
      margin: 0 auto;
    }

    p {
      font-size: $mbSubHeadingFs;
    }

    .faq-card {
      .faq {
        .tab-label {
          font-size: $mbSubHeadingFs;
        }
        .tab-content {
          font-size: $mbSubHeadingFs;
        }
      }
    }
  }

  .terms {
    padding: 5rem 0;
    width: 95%;
    margin: 0 auto;

    h2 {
      font-size: $mbHeadingFs;
      margin-top: 3rem;
    }

    p {
      font-size: $mbSubHeadingFs;

      a {
        font-size: $mbSubHeadingFs;
      }
    }

    h3 {
      font-size: 1.4em;
      margin-top: 3.5rem;
    }
  }

  footer {
    padding: 4rem 0;

    .footer-row {
      @include flexItem(row, space-between);
      width: 93%;
      margin: 0 auto;

      .footer-container {
        width: 48%;

        margin-bottom: 2rem;
        h5 {
          margin-bottom: 1rem;
        }

        a {
          display: block;
          margin: 1rem 0;
          font-size: $mbSubHeadingFs;
        }

        .clickable {
          font-size: $mbSubHeadingFs;
        }

        img {
          width: 1.8rem;
          margin-right: 0.8rem;
        }
      }
    }

    p {
      margin-top: 2rem;
      font-size: $mbSubHeadingFs;
    }
  }
}
