@import "./variables.scss";
.hero{
  .header-space{
    width: 100%;
    height: 81px;
    @include mediaM(750px) {
      height: 62px;
    }
  }
  .hero-spread{
    position: relative;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    @include mediaM(950px) {
      display: block;
      padding-top: calc(5vmin + 5vmax);
    }
    .img-sect{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 5em 8em 5em 2em;
      .im-holder{
        width: 80%;
        margin: auto;
        position: relative;
      }
      .floater-left{
        position: absolute;
        left: -3em;
        top: 65%;
        max-width: 50%;
      }
      .floater-right{
        position: absolute;
        right: -3em;
        top: 35%;
        max-width: 50%;
      }
      .floater-bottom{
        position: absolute;
        right: 16%;
        bottom: -90px;
        width: 170px;
      }
      @include mediaM(950px) {
        padding: 0 5em;
      }
      @include mediaM(750px) {
        padding: 0 0 90px 0;
        .floater-left,
        .floater-right{
          display: none;
        }
        .floater-bottom{
          right: calc(50% - 85px);
        }
        .im-holder{
          width: 90%;
        }
      }
    }
    .text-sect{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 5em;
      @include mediaM(950px) {
        padding: 2em;
        justify-content: center;
        text-align: center;
      }
      .text-holder{
        max-width: 450px;
        @include mediaW(1201px) {
          max-width: 550px;
        }
        p{
          font-size: 1.1em;
        }
        @include mediaM(950px) {
          width: 100%;
          p{
            font-size: 1.1em;
          }
          h2{
            padding-top: 0.8em;
            font-size: 1.6em;
            line-height: 1.6;
          } 
        }
        h1{
          font-weight: 700;
        } 
        .info-grid {
          @include mediaM(950px) {
            margin: auto;
            width: 90%;
          }
        }
      }
    }
  }
}

.info{
  .info-card{
    background-color: #F4F4F4;
    padding: 1em;
    border-radius: 10px;
    p{
      margin-bottom: 0;
      min-height: 120px;
    }
  }
  .experience-image{
    width: 90%;
    max-width: 450px;
    margin: auto;
    position: relative;
    .im-holder{
      width: 85%;
      margin: 10% 0 0 15%
    }
    .im-popup{
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
    }
  }
  .hr{
    width: 80%;
    margin: 2rem 0;
  }
}

.faq{
  .faq-question{
    padding: 10px;
    transition: 0.3s ease;
    border-top: 1px solid $black-faint4;
    .answer{
      transition: 0.3s ease;
      max-height: 0;
      overflow: hidden;
      border-top: 1px solid $black-faint4;
      opacity: 0;
      padding-top: 1em;
    }
    .full{
      max-height: 600px;
      transition: 0.3s ease;
      opacity: 1;
    }
  }
}

.base-info{
  position: relative;
  .base-color{
    width: 100%;
    height: calc(70% - 150px);
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #F8F8FC;
  }
  .info-card{
    border: 1px solid #E3E3E3;
    border-radius: 20px;
    background-color: $white;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 0 1em 2em;
    .img-cube{
      width: 70%;
      max-width: 200px;
      margin: 2vh auto;
      img{
        width: 100%;
      }
    }
    p{
      min-height: 96px;
      margin-bottom: 0 !important;
    }
  }
}
.pre-footer{
  .footer-card{
    width: 90%;
    max-width: 1200px;
    margin: 6vmax auto 5vmax;
    padding: 3vmax 4vmax 1vmax;
    background-color: #007971;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 65% 5% 30%;
    .text-sect{
      padding-top: 4vh;
      h2{
        color: $white;
      }
      @include mediaW(768px) {
        padding-top: 8vh;
      }
      @include mediaM(767px) {
        h2{
          width: 70%;
        }
      }
    }
    button {
      padding: 10px 20px;
      border: none;
    }
    .image{
      div{
        width: 80%;
        margin: auto;
      }
    }
    @include mediaM(950px) {
      display: block;
      width: 100%;
      border-radius: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      .image{
        // display: none;
        margin-top: 10vh
      }
      button {
        width: 100%;
      }
    }
  }
}

.sub-about{
  min-height: 100vh;
  .imh{
    @include mediaM(550px) {
      width: 96%;
    }
  }
}

.footer{
  background-color: $black;
  color: $white;
  padding: 2vmax 4vmax;
}